<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/head'); -%>

  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>
    <!-- Page Header-->
    <header
      class="masthead"
      style="background-image: url('assets/img/post-bg.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-heading">
              <h1>G Test</h1>
              <!-- <h2 class="subheading">This is G Test Page</h2> -->
            </div>
          </div>
        </div>
      </div>
    </header>

    <main class="mb-4">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="my-5">
              <form
                action="/g/license"
                method="post"
                onsubmit="return validateForm()"
              >
                <div class="form-floating">
                  <input
                    class="form-control"
                    id="LicenseNo"
                    type="text"
                    name="LicenseNo"
                    placeholder="Enter your license number"
                  />
                  <label for="LicenseNo">License Number</label>
                </div>
                <br />
                <div class="d-none" id="submitErrorMessage">
                  <div class="text-center text-danger mb-3">Error!</div>
                </div>
                <!-- Submit Button-->
                <button
                  class="btn btn-primary text-uppercase"
                  id="submitButton"
                  type="submit"
                >
                  Get information
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% if (user) { %>
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="my-5">
              <h1>User Information</h1>
              <div id="user-info">
                <p>
                  First Name: <span id="firstname"><%= user.firstname %></span>
                </p>
                <p>
                  Last Name: <span id="lastname"><%= user.lastname %></span>
                </p>
                <p>Age: <span id="age"><%= user.Age %></span></p>
                <p>
                  License Number:
                  <span id="licenseNumber"><%= user.LicenseNo %></span>
                </p>
                <h2><b>Car Details</b></h2>
                <p>Make: <span id="make"><%= user.carDetails.make %></span></p>
                <p>
                  Model: <span id="model"><%= user.carDetails.model %></span>
                </p>
                <p>Year: <span id="year"><%= user.carDetails.year %></span></p>
                <p>
                  Plate Number:
                  <span id="plateno"><%= user.carDetails.plateno %></span>
                </p>
              </div>

              <button class="btn btn-primary text-uppercase" id="edit-button">
                Edit
              </button>

              <form
                id="edit-form"
                style="display: none"
                action="/edit"
                method="POST"
              >
                <input
                  type="text"
                  name="firstname"
                  id="edit-firstname"
                  value="<%= user.firstname %>"
                  required
                  disabled
                />
                <input
                  type="text"
                  name="lastname"
                  id="edit-lastname"
                  value="<%= user.lastname %>"
                  required
                  disabled
                />
                <input
                  type="number"
                  name="Age"
                  id="edit-age"
                  value="<%= user.Age %>"
                  required
                  disabled
                />
                <input
                  type="text"
                  name="licenseNo"
                  id="edit-licenseNumber"
                  value="<%= user.LicenseNo %>"
                  required
                  readonly
                />
                <p>Car Details:</p>
                <input
                  type="text"
                  name="make"
                  id="edit-make"
                  value="<%= user.carDetails.make %>"
                  required
                />
                <input
                  type="text"
                  name="model"
                  id="edit-model"
                  value="<%= user.carDetails.model %>"
                  required
                />
                <input
                  type="text"
                  name="year"
                  id="edit-year"
                  value="<%= user.carDetails.year %>"
                  required
                />
                <input
                  type="text"
                  name="plateno"
                  id="edit-plateno"
                  value="<%= user.carDetails.plateno %>"
                  required
                />

                <br />
                <button class="btn btn-primary text-uppercase" type="submit">
                  Save Changes
                </button>
              </form>

              <a class="btn btn-primary text-uppercase" href="/g">Go Back</a>
            </div>
          </div>
        </div>
      </div>
      <% }else{ console.log("Refresh") }%>
    </main>

    <!-- Footer-->
    <%- include('layouts/footer') -%>
    <!-- JS-->
    <%- include('layouts/scripts') -%>
  </body>
</html>
